<h1>DEEP LEARNING PROJECT</h1>
<p>In this project deep learning is used.<br>
This project will predict, whether the loan will be approved or not for the customer.<br>
y --> loan_status , x --> other columns.<br></p>

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
print("libraries imported!")

libraries imported!

<h1>1. Reading data for csv file.</h1>

In [33]:
loan_data_file_path =("https://raw.githubusercontent.com/upflairs-pvt-ltd/JECRC-20april2024/main/loan%20aproaval%20DL/loan_approval_dataset.csv")
df = pd.read_csv(loan_data_file_path)
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

<h1>2. Gathering Information about dataframe.</h1>

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

<h1>3. Checking duplicates and null values.</h1>

In [35]:
df.duplicated().sum()

0

In [36]:
df.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

<h1>4. Analyzing data.</h1>

In [37]:
df[" self_employed"].value_counts()

 self_employed
Yes    2150
No     2119
Name: count, dtype: int64

In [38]:
df.columns = df.columns.str.strip()
df.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [39]:
df["education"].value_counts().keys()

Index([' Graduate', ' Not Graduate'], dtype='object', name='education')

In [40]:
cat_columns = ["education","self_employed","loan_status"]
for i in cat_columns:
    df[i] = df[i].str.strip()

In [41]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

<h1>5. Converting categorical columns to numerical columns using binary encoding.</h1>

In [42]:
clean_data = pd.get_dummies(df,drop_first="if_binary").astype(int)
clean_data

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_Not Graduate,self_employed_Yes,loan_status_Rejected
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0,0
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1,1
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0,1
3,4,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0,1
4,5,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,1000000,2300000,12,317,2800000,500000,3300000,800000,0,1,1
4265,4266,0,3300000,11300000,20,559,4200000,2900000,11000000,1900000,1,1,0
4266,4267,2,6500000,23900000,18,457,1200000,12400000,18100000,7300000,1,0,1
4267,4268,1,4100000,12800000,8,780,8200000,700000,14100000,5800000,1,0,0
4268,4269,1,9200000,29700000,10,607,17800000,11800000,35700000,12000000,0,0,0

<h1>6. Spliting dataframe into x and y.</h1>

In [43]:
x = clean_data.drop("loan_status_Rejected",axis="columns")
y = clean_data[["loan_status_Rejected"]]

In [44]:
x.head()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_Not Graduate,self_employed_Yes
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0
3,4,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0
4,5,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1

In [45]:
y.head()

   loan_status_Rejected
0                     0
1                     1
2                     1
3                     1
4                     1

<h1>7. Train and Test spliting of x and y variables.</h1>

In [46]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
x_tranformed = std.fit_transform(x)

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_tranformed.shape

(4269, 12)

In [49]:
# training and testing split
x_train, x_test, y_train, y_test = train_test_split(x_tranformed,y,test_size=0.15)

<h1>8. Creating architecture for ANN.</h1>

In [50]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [51]:
# creating empty box
ann_model = Sequential()   

# dense layers ---> hidden layers
# units ---> number of neurons
# relu ---> activation function , 90% of the time present on hidden layers, easy formula --->  z = x1.w1 + x2.w2 + .... + xnwn + b , sigma(z)
# input_dim ---> input layer
# number of neurons on input layers is equals to number of x variables
ann_model.add(Dense(units = 68, activation = "relu", input_dim = x_train.shape[1]))
ann_model.add(Dense(units = 45, activation = "relu"))
ann_model.add(Dense(units = 28, activation = "relu"))

# output layer 
# single neuron for binary classificaion (approved ---> 0, rejected ---> 1)
# multiclass classification ---> classes more than 2 
# sigmoid for binary classificaion, softmax for multiclass classification and linear for linear problem
ann_model.add(Dense(units = 1, activation = "sigmoid"))

# compilation
# loss function ---> for classification ( log loss, binary_crossentropy, categorical_crossentropy, sparse_categorical_crossentropy ) and for regression ( MSE, MAE )
# for binary ( binary_crossentropy )
# for multiclass ( categorical_crossentropy or sparse_categorical_crossentropy )
# optimizers ---> adam and adama
ann_model.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

ann_model.summary()

c:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 68)             │           884 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 45)             │         3,105 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 28)             │         1,288 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_12 (Dense)                │ (None, 1)              │            29 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,306 (20.73 KB)

 Trainable params: 5,306 (20.73 KB)

 Non-trainable params: 0 (0.00 B)

<h1>9. Training and Testing of model.</h1>

In [52]:
# epochs --->


ann_model.fit(x_train,y_train, epochs = 10)

Epoch 1/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7136 - loss: 0.5161
Epoch 2/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9171 - loss: 0.2109
Epoch 3/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9271 - loss: 0.1840
Epoch 4/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9402 - loss: 0.1530
Epoch 5/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9377 - loss: 0.1571
Epoch 6/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9522 - loss: 0.1360
Epoch 7/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9531 - loss: 0.1288
Epoch 8/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9594 - loss: 0.1125
Epoch 9/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9652 - loss: 0.0984
Epoch 10/10
114/114 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9720 - loss: 0.0876